/* Header styles */
@import "variables";

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.menu__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: $content_width;
}

/*
.menu__wrapper:after {
  content:"";
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
*/

/* Menu styles */

@mixin header__debug {
  @if $debug_header {
    border-right:1px  solid #ccc; 
  }
}

.header__logo {
  display: inline-block;
  vertical-align: middle;
  height: $header_height;
  @include header__debug;
}

.header__logo_img {
  width: 106px;
  height: 40px;
}

.right_menu {
  vertical-align: middle;
  float: right;
  height: 100%;
  @include header__debug;
}

.right_menu2 {
  display: inline-block;
  vertical-align: middle;
  height: $header_height;
  @include header__debug;
}

/* Navigation styles */

/*
.header__ul {
  display: flex;
  flex-wrap: wrap;
}
*/

.header__item {
  margin-right: 4px;
  color: rgba(31, 32, 65, 0.5);

  vertical-align: middle;
  padding: 8px;
  text-align: center;
  font-size: 14px;
}

.header__item_nomargin {
  margin-right: 0px;
}

.menu_expand {
  padding-left: 7px;
  padding-right: 5px;
}

.header__login {
  border: 2px solid #BC9CFF;
  border-spacing: 10px;
  border-radius: 22px;

  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  color: #BC9CFF;
  text-transform: uppercase;

  padding: 7px;
  padding-left: 18px;
  padding-right: 18px;

  margin-left: 8px;
}

.header__register {
  border: 2px solid #BC9CFF;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);  
  border-radius: 22px;

  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  color: #FFFFFF;
  text-transform: uppercase;

  padding: 7px;
  padding-left: 18px;
  padding-right: 18px;

  margin-left: 14px;
}

@mixin header__links {
  text-decoration: none;
}

.header__item {
  @include header__links;
} 

.header__item:hover, .header__link:active, .header__link:focus {
  @include header__links;
  opacity: 0.5;
}
