/* Header styles */
@import "variables";

/* Menu styles */

header {
  position: fixed;
  top: 0px;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: start;

  background-color: white;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  z-index: 100;

}

.menu__wrapper {
  @include header__debug;

  margin-left: auto;
  margin-right: auto;
  width: $content_width;

  min-height: $header_height;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}

.header__logo {
  @include header__debug;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.push_right {
  margin-left: auto;
}


.header__logo_img {
  width: 106px;
  height: 40px;
}

/* Navigation styles */

.header__item {
  @include header__debug;

  margin-right: 4px;
  color: rgba(31, 32, 65, 0.5);

  padding: 8px;
  text-align: center;
  font-size: 14px;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;

  padding-top: 10px;
  padding-bottom: 10px;
}

.header__item_nomargin {
  margin-right: 0px;
}

.menu_expand {
  padding-left: 7px;
  padding-right: 6px;
}

.header__login {
  border: 2px solid #BC9CFF;
  border-spacing: 10px;
  border-radius: 22px;

  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  color: #BC9CFF;
  text-transform: uppercase;

  padding: 8px;
  padding-left: 19px;
  padding-right: 19px;

  margin-left: 8px;
}

.header__register {
  border: 2px solid #BC9CFF;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);  
  border-radius: 22px;

  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  color: #FFFFFF;
  text-transform: uppercase;

  padding: 8px;
  padding-left: 18px;
  padding-right: 18px;

  margin-left: 14px;
}

@mixin header__links {
  text-decoration: none;
}

.header__item {
  @include header__links;
} 

.header__item:hover, .header__link:active, .header__link:focus {
  @include header__links;
  opacity: 0.5;
}
