.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;

  background-color: white;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  width: 80%;
  height: 70px;
}

/* Меню навигации */

.header_nav {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  /* Dark 50% */
  color: rgba(31, 32, 65, 0.5);
}
.header_nav :last-child {
  margin-right: 0px;
}

.header__link {
  text-decoration: none;
  color: inherit;
}

.header__link:hover, .header__link:active, .header__link:focus {
  opacity: 0.75;
  text-decoration: none;
  color: inherit;
}
