/* Double slider */

@mixin unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.double_slider__container {
  @include unselectable;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;

  background: #FFFFFF;
  /* Dark 25% */
  
  height: 6px;

  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 3px;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.double_slider__left {
  width: 12px;
  height:12px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
}

.double_slider__middle {
  height: 6px;
  width: 0px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.double_slider__right {
  width: 12px;
  height:12px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
}

.date_picker__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.date_picker__container_from_to {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 44px;
  width: 50%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-left: 4px;
  margin-right: 4px;
  /* identical to box height, or 171% */


  /* Dark 75% */

  color: rgba(31, 32, 65, 0.75);

  background: #FFFFFF;
  /* Dark 25% */

  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;

}

.date_picker__caption {
  margin-left: 15px;
}

.date_picker__button {
  margin-left: auto;
  margin-right: 8px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  /* Dark 50% */

  color: rgba(31, 32, 65, 0.5);
}