extends includes/template.pug

append scripts
  script(type="text/javascript" src='scripts/index.js')

block content
  aside.left_menu

    include Items/double_slider_filter.pug

    include Items/room_filter.pug


  content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content