extends includes/template.pug

block content
  p 1 some content
  p some content
  p some content
  input(type=text)#amount
  p some content
  #slider-range
  p some content
  +double_slider("ДИАПАЗОН ЦЕНЫ", "Стоимость за сутки пребывания в номере", 0, 1000)
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content
  p some content