doctype html

    
html(lang="en")
    head
        title Проспись, сынок!
    body
        header
            div.wrapper
                img(src="images/SVG/logo.svg")
                ul
                    li
                        a(href="/") О нас
                    li
                        a(href="/") Услуги
                    li
                        a(href="/") Вакансии
                    li
                        a(href="/") Новости
                    li
                        a(href="/") Соглашения
                form:get
                    input(type="button", value="Войти").login
                    input(type="button", value="Зарегистрироваться").register

                    
        main
            div.wrapper
        footer

