extends includes/template.pug


append head_links
  // стили для базового виджета
  link(rel="stylesheet", href="Items/widget/widget.scss")

  //стили и скрипты для ввода даты
  link(rel="stylesheet", href="Items/date_picker/date_picker.scss")
  script(type="text/javascript" src='Items/date_picker/date_picker.js')

  //стили и скрипты для сложных списков
  link(rel="stylesheet", href="Items/list_view/list_view.scss")
  script(type="text/javascript" src='Items/list_view/list_view.js')

  //стили и скрипты для страницы
  link(rel="stylesheet", href="SCSS/landing.scss")

  script(type="text/javascript" src='scripts/index.js')

block content
  form(action="search.html")#search.landing_control
    input#from(type="hidden", name="from")
    input#to(type="hidden", name="to")
    h1 Найдем номера под ваши пожелания
    - var onchange = "from.value = arguments[0].selection_from; to.value = arguments[0].selection_to;"
    include Items/date_picker/date_picker_filter.pug
    include Items/list_view/list_view_guests.pug
    input#sub(type="submit", value="" onclick="submit()" style="visibility: hidden;")
    a(onclick="sub.onclick()")
      .landing_control__find
        span Подобрать номер
        span 

  p.landing_slogan Лучшие номера для вашей работы, <br/> отдыха и просто вдохновения

    