extends includes/template.pug

append head
  // стили для базового виджета
  link(rel="stylesheet", href="Items/widget/widget.scss")

  //стили и скрипты для слайдера
  link(rel="stylesheet", href="Items/double_slider_filter/double_slider_filter.scss")
  script(type="text/javascript" src='Items/double_slider_filter/double_slider_filter.js')

  //стили и скрипты для ввода даты
  link(rel="stylesheet", href="Items/date_picker/date_picker.scss")
  script(type="text/javascript" src='Items/date_picker/date_picker.js')

  //стили и скрипты для сложных списков
  link(rel="stylesheet", href="Items/list_view/list_view.scss")
  script(type="text/javascript" src='Items/list_view/list_view.js')


  script(type="text/javascript" src='scripts/index.js')

block content
  aside.left_menu

    include Items/double_slider_filter/double_slider_filter.pug
    include Items/date_picker/date_picker_filter.pug
    include Items/date_picker/date_picker_filter2.pug
    include Items/list_view/list_view_guests.pug
    include Items/list_view/list_view_rooms.pug
  
  content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content