extends includes/template.pug


append head_links
  // стили для базового виджета
  link(rel="stylesheet", href="Items/widget/widget.scss")

  //стили и скрипты для ввода даты
  link(rel="stylesheet", href="Items/date_picker/date_picker.scss")
  script(type="text/javascript" src='Items/date_picker/date_picker.js')

  //стили и скрипты для сложных списков
  link(rel="stylesheet", href="Items/list_view/list_view.scss")
  script(type="text/javascript" src='Items/list_view/list_view.js')

  //стили и скрипты для круговой диаграммы
  link(rel="stylesheet", href="Items/chart_view/chart_view.scss")
  script(type="text/javascript" src='Items/chart_view/chart_view.js')

  //стили и скрипты для простых элементов
  link(rel="stylesheet", href="Items/inputs/checkbox.scss")

  //стили и скрипты для room details
  link(rel="stylesheet", href="Items/room_details/room_details.scss")
  link(rel="stylesheet", href="Items/room_calc/room_calc.scss")
  script(type="text/javascript" src='Items/room_calc/room_calc.js')

  //стили и скрипты для reviews
  link(rel="stylesheet", href="Items/reviews/review.scss")

  script(type="text/javascript" src='scripts/index.js')

block copyright


block pre_content
  img(src="Images/room.png" class="__preview")
block content
  content
    include Items/room_details/room_details.pug