append style
  link(rel="stylesheet", href="UI/date_picker/style.scss")

mixin date_picker__row(...items)
  div.date_picker__popup_month_table__row
    each item in items
      div.date_picker__popup_month_table__cell= item

mixin date_picker()
  div.date_picker__container
    div.date_picker__container_from_to
      div.date_picker__caption 19.08.21
      div.date_picker__button 
    div.date_picker__container_from_to
      div.date_picker__caption 19.09.22
      div.date_picker__button 
  div.date_picker__popup_container
    div.date_picker__popup_month_switcher
      div.date_picker__popup_month_button 
      div.date_picker__popup_month_title Месяц
      div.date_picker__popup_month_button 
    div.date_picker__popup_month_table
      +date_picker__row("пн", "вт", "ср", "чт", "пт", "сб", "вс")
      +date_picker__row("1", "2", "3", "4", "5", "6", "7")
      +date_picker__row("8", "9", "10", "11", "12", "13", "14")
      +date_picker__row("15", "16", "17", "18", "19", "20", "21")
      +date_picker__row("22", "23", "24", "25", "26", "27", "28")
      +date_picker__row("29", "30", "31", "1", "2", "3", "4")