
div.room_calc__order
  div.room_calc__order_caption
    h1 №888 
    span люкс
    label#price 9 990₽ в сутки
  - onchange = 'room_calc__date_changed(this)'
  include ../date_picker/date_picker_filter.pug
  include ../list_view/list_view_guests.pug

  table.room_calc__total_table
    tr
      td.room_calc__days 9 990₽ х 4 суток
      td
      td.room_calc__sub_total 39 960₽
    tr 
      td Сбор за услуги: скидка 2 179₽
      td(data-title='На нашем портале скидок нет, только наценки.')
        label.room_calc__info i
      td.room_calc__sub_total 0₽
    tr
      td Сбор за дополнительные услуги
      td(data-title="Чай, кофе, печеньки...")
        label.room_calc__info i
      td.room_calc__sub_total 300₽

  div.room_calc__total
    div.room_calc__total_caption Итого
    div.room_calc__total_space
    div.room_calc__total 38 081₽