@mixin unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.list_view__container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
}

.list_view__header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: stretch;
  height: 44px;
  
  font-weight: normal;
  font-size: 14px;

  /* identical to box height, or 171% */


  /* Dark 75% */

  color: rgba(31, 32, 65, 0.75);

  background: #FFFFFF;
  /* Dark 25% */

  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.list_view__caption {
  margin-left: 15px;

  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit;

  color: inherit;
}

.list_view__button {
  @include unselectable;
  align-self: stretch;
  margin-left: auto;
  padding-right: 8px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  /* Dark 50% */

  color: rgba(31, 32, 65, 0.5);
}

/* Popup */
.list_view__popup_container {
  padding: 0px 5px 0px 15px;

  background: #FFFFFF;
  /* Dark 50% */
  
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 0px 0px 3px 3px;

  line-height: 37px;

  visibility: hidden;

  text-transform: uppercase;
  z-index: 10;
  position: absolute;
}

.list_view__row {
  display: flex;
  align-items: center;
}

.list_view__sub_button {
  margin-left: auto;
}

@mixin list_view__as_buttons {
  @include unselectable;

  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 22px;

  width: 30px;
  height: 30px;

  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(31, 32, 65, 0.5);
}

.list_view__sub_button {
  @include list_view__as_buttons;
}

.list_view__sub_button_disabled {
  opacity: 0.38;
}

.list_view__add_button {
  @include list_view__as_buttons;
}

.list_view__editor {
  text-align: center;

  width: 30px;

  font-family: inherit;
  font-style: inherit;
  font-weight: bold;
  font-size: 12px;
}


.list_view__footer {
  @include unselectable;

  display: flex;
  text-transform: uppercase;
}

@mixin list_view__button {
  @include unselectable;
  padding: 8px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 2px;
}
.list_view__clear {
  @include list_view__button;

  color: rgba(31, 32, 65, 0.5);
}

.list_view__accept {
  @include list_view__button;

  margin-left: auto;
  color: #BC9CFF;
}
