extends ../widget/widget.pug

include date_picker_mixin.pug

block content
  div.date_piker__left
    div(style='width:100%')
      h3 Прибытие
      +date_picker(true)

    div(style='width:100%')
      h3 Выезд
<<<<<<< HEAD
      +date_picker(true)
=======
      +date_picker(true, true)
>>>>>>> 876d42f... Переписла по новому
      