extends ../widget/widget.pug

include date_picker_mixin.pug

prepend header
  div.date_picker__caption_justifyer

block caption
  h3 Прибытие

block rcaption
  h3 Выезд

block content
  div.date_picker__filter
    +date_picker(true, null, onchange)
    +date_picker(true, true, onchange)
  - onchange = null
      