include ../chart_view/chart_view_mixin.pug
include ../room_calc/room_calc_mixin.pug
- 
  var vc = [
    {value: 88, color1: '#BC9CFF', color2: '#8BA4F9'},
    {value: 2, color1: 'white', color2: 'white'},
    {value: 88, color1: '#6FCF97', color2: '#66D2EA'},
    {value: 2, color1: 'white', color2: 'white'},
    {value: 0, color1: '#FFE39C', color2: '#FFBA9C'},
    {value: 2, color1: 'white', color2: 'white'}]

mixin property(icon, caption, description)
  div.room_details__columns.room_details__property_description
    img.room_details__property_icon(src='/images/icons/'+icon+'.svg')
    div.room_details__rows
      strong= caption
      p= description

div.room_details__columns
  div.room_details__columns.room_details__description_content
    div.room_details__rows.room_details__intelligence
      h2 Сведения о номере
      +property('insert_emoticon', 'Комфорт', 'Шумопоглощающие стены')
      div.room_details__property_space
      +property('location_city', 'Удобство', 'Окно в каждой из спален')
      div.room_details__property_space
      +property('whatshot', 'Уют', 'Номер оснащён камином')
    div.room_details__rows.room_details__impressions
      h2 Впечатления от номера
      div.room_details__columns
        div.room_details__rows
          +chart_view__create('260','голосов', vc)
        div(style='align-self: flex-end;').room_details__rows
          ul.room_details__history
            li Великолепно
            li Хорошо
            li Удовлетворительно
            li Разочарован
    div.room_details__rows.room_details__reviews
      h2 Отзывы посетителей номера
  div.room_details__right
    +room_calc(9990, -2179, 300)