.room_details__columns {
  display: flex;
  flex-direction: row;
  //border: 2px solid green;
  box-sizing: border-box;
}

.room_details__rows {
  display: flex;
  flex-direction: column;

  //border: 1px solid black;
  box-sizing: border-box;
}

.room_details__preview {
  width: 100%;
  padding-bottom: 70px;
}

.room_details__description_content {
  flex-grow: 1;
  flex-wrap: wrap;
}

.room_details__property_icon {
  flex-grow: 0;

  margin-right: 10px;

  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 40px;
  align-items: center;
  text-align: center;


  /* Primary Gradient */

  color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.room_details__property_description {
  margin-top: 22px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  color: rgba(31, 32, 65, 0.75);
}

.room_details__property_description strong {
  font-weight: bold;
}

.room_details__property_space {
  height: 18px;
  width: 280px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1)
}

.room_details__intelligence {
  flex-basis: 45%;
}

.room_details__impressions {
  flex-basis: 55%;
}

.room_details__impressions > .room_details__columns {
  margin-top: 20px;
}

.room_details__reviews {
  flex-basis: 100%;
}

.room_details__history {
  list-style-type: none;

  margin-left: 30px;
  font-size: 14px;
  line-height: 24px;  
}

.room_details__history li:before {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  content: "";
  border-radius: 50%;
}

.room_details__history li:nth-of-type(1):before {
  background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
}

.room_details__history li:nth-of-type(2):before {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.room_details__history li:nth-of-type(3):before {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.room_details__history li:nth-of-type(4):before {
  background: linear-gradient(180deg, #909090 0%, #3D4975 100%);
}