
.widget__header {
  display: flex;
  height: 23px;
  margin-bottom: 5px;
}

.widget__caption {
  display: flex;
  flex-direction: row;
}

.widget__rcaption {
  display: flex;
  margin-left: auto;
}

.widget__wrapper {
  margin-top: 25px;
  margin-bottom: 5px;
  width: 100%;
}

.widget__content:empty,
.widget__footer:empty ,
.widget__caption:empty {
  position: absolute;
  display: none;
}

.widget__expand {
  align-self: baseline;
  margin-top: -5px;

  margin-right: 15px;

  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;


  cursor: pointer;

  color: rgba(31, 32, 65, 0.5);
}


.widget__hidden_content .widget__expand {
  transform: rotate(-180deg);
}

.widget__hidden_content .widget__content {
  position: absolute;
  visibility: hidden;
}

.widget__hidden_content .widget__footer {
  position: absolute;
  visibility: hidden;
}