div.widget__wrapper
  div.widget__header
    div.widget__caption
      block caption
    div.widget__rcaption
      block rcaption
    div(onclick="var content = parentElement.parentElement.classList.toggle('widget__hidden_content');").widget__expand 
  div.widget__content
    block content
  div.widget__footer
    block footer
