header
  div.wrapper
    div.header__wrapper
      div.logo
        a(url="/")
          img(src="./images/SVG/logo.svg")
      nav
        ul.header_nav
          li.header__item
            a.header__link(href="/") О нас
          li.header__item
            a.header__link(href="/") Услуги
              img(src="./images/SVG/expand_more.svg", alt="Узнать").services
          li.header__item
            a.header__link(href="/") Вакансии
          li.header__item
            a.header__link(href="/") Новости
          li.header__item
            a.header__link(href="/") Соглашения
              img(src="./images/SVG/expand_more.svg", alt="Узнать").services
          li.header__item
            a.header__link(href="/") Войти
          li.header__item
            a.header__link(href="/") Зарегистрироваться
