doctype html

mixin spacerV(size)
  div(style="height: "+size)
mixin spacerH(size)
  div(style="width: "+size)

html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Отельные взгляды

    link(rel="stylesheet", href="CSS/reset.css")
    link(rel="stylesheet", href="SCSS/style.scss")
    link(rel="stylesheet", href="SCSS/header_style.scss")
    link(rel="stylesheet", href="SCSS/footer_style.scss")

    script(type="text/javascript" src='scripts/template.js')

    block head_links

    <!-- script window.onerror = function(msg, url, lineNo, columnNo, error) { alert(error); return false;} -->
  body
    block header
      header
        nav.menu__wrapper
          span.header__logo
            img(src="images/SVG/logo.svg", alt="")
          
          mixin nav_item(Text, Href, expand = false, add_clName = 'header__item')
            a(class=add_clName, href=Href)= Text
                if expand
                  img.menu_expand(src="./images/SVG/expand_more.svg", alt="Узнать").services
          +nav_item("О нас", "/", false, 'header__item push_right')
          +nav_item("Услуги", "/", true)
          +nav_item("Вакансии", "/")
          +nav_item("Новости", "/")
          +nav_item("Соглашения", "/", true)
          +nav_item("Войти", "/login.pug", false,'header__item header__login')
          +nav_item("Зарегистрироваться", "/registration.pug", false, "header__item header__item_nomargin header__register")
    main
      block pre_content
      div.content_wrapper
        block content
    block foot
      footer
        div.footer_wrapper
          span.footer_column
            div.footer_column_item_text
              img.footer_logo(src='images/SVG/logo.svg', alt="")
              p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
          span.footer_column
            ul.footer_list
              li.footer_list_first_child Навигация
              li
                a(href="/") О нас
              li
                a(href="/") Новости
              li
                a(href="/") Служба поддержки
              li
                a(href="/") Услуги
          span.footer_column
            ul.footer_list
              li.footer_list_first_child О нас
              li
                a(href="/") О сервисе
              li
                a(href="/") Наша команда
              li
                a(href="/") Вакансии
              li
                a(href="/") Инвесторы
          span.footer_column
            ul.footer_list
              li.footer_list_first_child Служба поддержки
              li
                a(href="/") Соглашения
              li
                a(href="/") Сообщества
              li
                a(href="/") Связь с нами
          span.footer_column
            ul.footer_list
              li.footer_list_first_child Подписка
              li.footer_column_item_text Получайте специальные предложения и новости сервиса
              li
                form(method="get")#subscribe
                  div.input
                    input(type="text", placeholder="e-mail", alt="e-mail" name="email")#email
                    a(href="", onclick="document.querySelector('#subscribe').submit()") 
    block copyright
      #copyright
        div.copyright_wrapper
          span#copyright_span Copyright © 2018 Toxin отель. Все права зачищены.
          span(class='copy_icons push_right') 
          span.copy_icons 
          span.copy_icons 
