mixin double_slider(min, max, ondrag = null, min_default=min, max_default=max)
  div(onchange=ondrag, ondragstart="return false;", minimum=min, maximum=max, current_min=min_default, current_max=max_default).double_slider__container
    div.double_slider__left
    div.double_slider__middle
    div.double_slider__right

mixin date_picker()
  div.date_picker__container
    div.date_picker__container_from_to
      div.date_picker__caption 19.08.21
      div.date_picker__button 
    div.date_picker__container_from_to
      div.date_picker__caption 19.09.22
      div.date_picker__button 
  div.date_picker__popup_container
    div.date_picker__popup_month_switcher
      div.date_picker__popup_month_button 
      div.date_picker__popup_month_title Месяц
      div.date_picker__popup_month_button 
    div.date_picker__popup_month_table
