mixin double_slider(min, max, ondrag = "", min_default=min, max_default=max)
  div(onchange=ondrag, ondragstart="return false;", minimum=min, maximum=max, current_min=min_default, current_max=max_default).double_slider__container
    div.double_slider__left
    div.double_slider__middle
    div.double_slider__right

