extends ../widget/widget.pug

include ../inputs/checkbox_mixin.pug

block caption
  h3 Дополнительные опции
block content
  +checkbox("Завтрак")
  +checkbox("Письменный стол", true)
  +checkbox("Стул для кормления", true)
  +checkbox("Кроватка", true)
  +checkbox("Телевизор<br/>sdf")
  +checkbox("Шампунь")
  +checkbox("Телевизор")
  +checkbox("Шампунь")
