extends ../widget/widget.pug

include list_view_mixin.pug

block caption
  h3 Удобства номера

block content
  -
    var decls = [
      {name: "Спальни", decls: ["Спальня", "Спальни", "Спален"]},
      {name: "Кровати", decls: ["Кровать", "Кровати", "Кроватей"]},
      {name: "Ванные комнаты", decls: ["Ванная комната", "Ванные комнаты", "Ванных комнат"]}
    ]
  +list_view("Сколько комнат", decls)