extends ../widget/widget.pug

include list_view_mixin.pug

block caption
  h3 Гости

block content
  -
    var decls = [
      {name: "Взрослые"},
      {name: "Дети"},
      {name: "Младенцы", decls: ["Младенец", "Младенца", "Младенцев"]}
    ]
  +list_view("Сколько гостей", decls, ['Гость', 'Гостя', 'Гостей'])